{% extends 'base.html' %}

{% block content %}
<form method="post">

    {% csrf_token %}

    <label>adding new tracker</label><br>
    <input type="text" id = 'goals' name="goal" value ="{% if task %}{{task.goal}}{% endif %}" placeholder="add your task here" required>
    <br>
    <label>status</label>
    <select name="status" required>
        <option value="not started">not started</option>
        <option value="working_on_it">working on it</option>
        <option value="over">over</option>
    </select>
    <button type="submit">save</button>
</form>
{% endblock content %}